<!DOCTYPE html>
<html>

<head>
  <title>Tool Versions</title>
  <link rel="stylesheet" type="text/css" href="styles.css"/>
  <!-- <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/> -->
  <!-- Link to the CSS file -->
</head>

<body>
  <h1>Tool Versions</h1>

  {{if .Endpoints}}
  <table>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Current Version</th>
      <th>Latest Version</th>
      <th>Up to Date</th>
      <th>Comment</th>
    </tr>
    {{range (sort .Endpoints)}}
    <tr>
      <td>{{.Name}}</td>
      <td>{{.Url}}</td>
      <td>{{.Version.Current}}</td>
      <td>{{.Version.Latest}}</td>
      <td style="color: {{if .Version.UpToDate}}green{{else}}red{{end}};">{{.Version.UpToDate}}</td>
      <td></td>
    </tr>
    {{end}}
  </table>
  {{end}}

  {{if .KubernetesImages}}
  <table>
    <tr>
      <th>Name</th>
      {{if gt $.KubernetesClusterCount 1}}
      <th>Cluster</th>
      {{end}}
      <th>Image</th>
      <th>Current Version</th>
      <th>Latest Version</th>
      <th>Up to Date</th>
    </tr>
    {{range (sort .KubernetesImages)}}
    <tr>
      <td>{{.Name}}</td>
      {{if gt $.KubernetesClusterCount 1}}
      <td>{{.Cluster}}</td>
      {{end}}
      <td>{{.Image}}</td>
      <td>{{.Version.Current}}</td>
      <td>{{.Version.Latest}}</td>
      <td style="color: {{if .Version.UpToDate}}green{{else}}red{{end}};">{{.Version.UpToDate}}</td>
    </tr>
    {{end}}
  </table>
  {{end}}
</body>

</html>
