html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  top: 20px;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Style the table */
table {
  width: 100%;
  background-color: #ffffff; /* White background */
  border-collapse: collapse;
  border: 1px solid #ddd; /* Light gray border */
  display: block; /* Change display property to block */
  margin-top: 10px; /* Add top margin to separate from labels */
}

td {
  padding: 10px;
  border: 1px solid #ddd;
  position: relative;
  cursor: pointer;
  text-align: left;
  color: black;
}

th {
  padding: 10px;
  border: 1px solid #ddd;
  position: relative;
  cursor: pointer;
  text-align: left;
  color: black;
}

td a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
